%ul.list-unstyled
  - @articles.each do |article|
    %li
      %h3
        = article.title
      %p
        = article.body[0..200]
      %a{href: "/articles/#{article.id}"}
        Lire l'article

= will_paginate @articles
